/* Carousel
     ========================================================================== */
.carousel {
  background-image: url("../assets/img/Star-Wars-Battlefront-II-combat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
.carousel__content {
  display: flex;
  justify-content: flex-end;
}
.carousel__info {
  padding: 300px 0;
  display: flex;
  flex-direction: column;
  gap: 164px;
}

.carousel__title {
  color: white;
}

.carousel__title-firstname {
  margin: 0 0;
}

.carousel__title-secondname {
  margin: 0 0;
}

.carousel__buttons {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

/* Highlights
     ========================================================================== */

.highlights {
  background: radial-gradient(100% 100% at 50% 0%, #686c6f 0%, #373a3c 100%);
  text-align: center;
  padding: 64px 0 162px;
}

.highlights__title {
  margin: 0 auto;
  color: white;
}
.highlights__title-text1 {
  margin-top: 16px;
  font-size: 48px;
  line-height: 56px;
}
.highlights__title-text2,
.title {
  font-size: 36px;
  line-height: 42px;
}
.highlights__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 43px;
}
.card {
  text-align: left;
  max-width: 320px;
  background: #ffffff;
  height: 420px;
  width: 100%;
  color: #435766;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: #8dd83d;
}
.card__image {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 180px;
  background: #fafafa;
}

.card__body {
  padding: 25px 21px 27px;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: stretch;
}
.card-title {
  padding-bottom: 13px;
}
.card-text {
  padding-bottom: 38px;
  font-size: 24px;
}
.card-btn {
  width: 100%;
  background-color: #8dd83d;
  padding: 19px 0;
  color: white;
  outline: none;
  border: none;
}

/* Games
     ========================================================================== */
.games {
  background: url("/assets/img/callofdutymiddle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.games-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 29px;
}

.games__card {
  margin: 193px 0 267px;
  text-align: left;
  max-width: 320px;
  background: white;
  height: 420px;
  width: 100%;
  color: #435766;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: #8dd83d;
  transition: 1s;
}
.games__card:hover {
  transform: scale(1.1);
  /* clip-path: polygon(
    0 0%,
    100% 0,
    100% 100%,
    7% 100%,
    2% 94%,
    93% 94%,
    93% 81%,
    7% 81%,
    7% 100%,
    0 100%
  ); */
}

.games__card-body {
  padding: 25px 21px 27px;
  display: flex;
  height: calc(100% - 180px);
  flex-direction: column;
  justify-content: space-between;
}
.games__card-title {
  padding-bottom: 13px;
}
.games__card-text {
  font-size: 24px;
}
.games__card-btn {
  text-align: center;
  text-decoration: none;
  width: 100%;
  background: #8dd83d;
  padding: 19px 0;
  outline: 0;
  border: none;
  color: white;
}
.games-img {
  width: 318px;
  height: 180px;
}
.games__card-btn:hover {
  background-color: #2dd122;
  cursor: pointer;
}

/* Design-lab
     ========================================================================== */

.design-lab {
  background: url("/assets/img/Rectangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
.design-lab-wrap {
  background: radial-gradient(
    100% 100% at 50% 0%,
    rgba(193, 255, 127, 0.1) 0%,
    rgba(141, 216, 61, 0.1) 100%
  );
}

.design-lab__body {
  text-align: left;
  padding: 114px 0 145px;
  max-width: 535px;
}

.design-lab__title {
  font-size: 48px;
  padding-bottom: 9px;
}
.design-lab__text {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 37px;
}
.btn-primary {
  display: flex;
  align-items: center;
}
.design-btn {
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  padding: 20px 61px 19px 52px;
  border-radius: 4px;
  margin-right: 15px;
  color: white;
  outline: none;
  border: none;
}
.design-btn:hover {
  background: none;
  background-color: #373a3c;
}
.console-btn:hover {
  background-color: #2dd42f;
}
.console-btn {
  background: #8dd83d;
  border-radius: 4px;
  padding: 19px 23px 20px;
  color: white;
  outline: none;
  border: none;
}

/* Modal video
     ========================================================================== */

.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal__close {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.4s;
}

.modal__close:hover {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
